## Search Engine for Taxon & Name

In [1]:
import pandas as pd
import numpy as np
import pyarrow as pa
import pyarrow.parquet as pq

In [4]:
# Load file .parquet to Pandas DF
df = pd.read_parquet("C:\WORKSPACES\DATA\PROCESS\iNat_Observations_World_EnrichedFRA.parquet")

In [2]:
df = pd.read_parquet(r"C:\WORKSPACES\DATA\PROCESS\search_engine_db.parquet")

In [3]:
df

        taxon_id        scientific_name
0          47602   Taraxacum officinale
1         460193  Potentilla hebiichigo
2           8042         Corvus mellori
3         544430    Castanopsis hystrix
4        1024536      Rabelera holostea
...          ...                    ...
385170    884429   Eletica luteosignata
385171    886732   Eusphalerum limbatum
385172    662548            Dira jansei
385173    884091         Discophora deo
385174    364285     Astrocaryum malybo

[385175 rows x 2 columns]

In [3]:
# Function to search for taxon_id by scientific name
def search_taxon_id_by_name(scientific_name, df):
    # Convert the scientific_name column to lowercase for comparison
    df["scientific_name_lower"] = df["scientific_name"].str.lower()
    scientific_name = scientific_name.lower()
    
    filtered_df = df[df["scientific_name_lower"] == scientific_name]
    
    if not filtered_df.empty:
        taxon_id = filtered_df['taxon_id'].iloc[0]
        return taxon_id
    else:
        return None


# Function to search for scientific name by taxon_id
def search_scientific_name_by_id(taxon_id, df):
    filtered_df = df[df['taxon_id'] == taxon_id]
    if not filtered_df.empty:
        scientific_name = filtered_df['scientific_name'].iloc[0]
        return scientific_name
    else:
        return None

In [5]:
# Ask the user for input (scientific name or taxon_id)
user_input = input("Enter a scientific name or a taxon_id: ")

# Check if the input is a number (taxon_id) or a string (scientific name)
if user_input.isdigit():
    taxon_id = int(user_input)
    scientific_name = search_scientific_name_by_id(taxon_id, df)
    if scientific_name:
        print(f"Scientific name for Taxon ID {taxon_id} : {scientific_name}")
    else:
        print(f"No scientific name found for Taxon ID {taxon_id}")
else:
    scientific_name = user_input
    taxon_id = search_taxon_id_by_name(scientific_name, df)
    if taxon_id:
        print(f"Taxon ID for '{scientific_name}': {taxon_id}")
    else:
        print(f"No taxon ID found for '{scientific_name}'")

Taxon ID for 'Corvus mellori': 8042